.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 33px;
    text-align: center;
}

form {
    margin-top: 22px;
}

h2 {
    font-size: 30px;
    color: #db1515;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

.btn-dark {
    background-color: #841c1c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pizza-cost {
    font-size: 30px;
    color: rgb(99, 207, 17)
}